*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties*/

:root {
  --color_orange: #e04622;
  --color_white: #ffffff;
  --color_black: #000000;
  --color_dark_grey: #1e1e1e;

  --font_titles: 'Arial Black';
  --font_paragraph: 'Nunito Sans', sans-serif;

  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}

/* General Styles*/

body {
  background: var(--color_dark_grey);
  color: var(--color_white);
  margin: 0;
  font-family: var(--font_paragraph);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  border: none;
  width: 80%;
  background-color: var(--color_orange);
  height: 5px;
}

ul {
  list-style: none;
}

@media (min-width: 600px) {
  body {
    background: var(--color_white);
    color: var(--color_black);
  }

  .wrapper {
    margin: 30px 50px;
  }
}

/* Typography*/

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}

.section__title {
  margin: 0;
  font-size: var(--font-size-h3);
  color: var(--color_orange);
  font-family: var(--font_titles);
  margin-bottom: 0.25em;
}

.section__titleh2 {
  font-size: var(--font-size-h2);
}

.section__titleh3 {
  font-size: var(--font-size-h3);
}


/*---------------HEADER----------------------*/
header {
    position: relative;
    display: grid;
    grid-template-areas:
      'img img'
      'name hamburger'
      /* "title hamburger" */
      'img img';
    justify-items: center;
  }
  
  .header__logo,
  .header__title {
    font-family: var(--font_titles);
  }
  
  .header__logo {
    font-size: var(--font-size-h1);
  }
  
  .header__img {
    grid-area: img;
    position: relative;
    z-index: -1;
  }
  
  .header__logo {
    position: absolute;
  }
  
  .nav-toggle {
    /* grid-area: hamburger; */
    position: absolute;
    align-self: start;
    justify-self: end;
    margin: 30px;
  }
  
  .header__title {
    /* grid-area: title; */
    position: absolute;
    margin-top: 50px;
  }
  
  .nav__item > a {
    text-decoration: none;
    font-family: var(--font_titles);
    color: var(--color_white);
  }
  
  header .section__title {
    color: var(--color_white);
  }
  
  header hr,
  .header__nav {
    display: none;
  }
  
  @media (min-width: 600px) {
    header {
      /* position: absolute; */
      display: grid;
      grid-template-areas: 
      'logo nav'
      'img img'
      'title title'
      'line line'
      'img img';
      justify-items: center;
    }
  
    .header__logo{
      grid-area: logo;
         
    }
  
    .header__nav {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      border: 1px solid red;
    }
  
    .header__title{
      align-self: end;
      margin-bottom: 40px;
      text-align: center;
      font-size: var(--font-size-h2);
      color: var(--color_white);
    }
  
    .header__img{
      margin-top: 50px;
    }
  
    header > hr{
      display: block;
      grid-area: line;
      align-self: end;
      margin-bottom: 20px;
      background-color: var(--color_white);
      width: 60%;
      height: 1px;
    }
  
  
    .nav {
      display: block;
    }
  
    .nav__item {
      padding-left: 20px;
    }
  
    .nav__list {
      display: flex;
      justify-content: space-around;
    }
  
    .nav-toggle {
      display: none;
    }
  
    .nav__item > a,
    .header__logo {
      color: var(--color_orange);
    }
  
    .header__logo {
      font-size: var(--font-size-h3);
    }
  }
  
  /*---------------INTRODUCTION----------------*/
  
  .intro {
    text-align: center;
    margin: 30px;
  }
  
  @media (min-width: 600px) {
  
      
  }
  
  /*---------------WORK--------------------*/
  
  /*---------------CONTACT ME--------------------*/
  
  /*---------------FOOTER----------------------*/

  

footer{
    background-color: var(--color_orange);
}

footer > a {
    font-family: var(--font_titles);
    text-decoration: none;
    color: var(--color_white);
}

.contact_me > button {
    color: var(--color_orange);
    font-family: var(--font_titles);
    background-color: var(--color_white);
    border-color: var(--color_orange);
}
